<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159266541498-8u0dktn0hia163arigcdq9lhqvheqgsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159266541498-8u0dktn0hia163arigcdq9lhqvheqgsv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159266541498-8gk92dn6dr3d05o5i6hkfu0behatp4k7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCGIebZCiSk0XI4WrDLY1UZ7MvWRLkrmI</string>
	<key>GCM_SENDER_ID</key>
	<string>159266541498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innorider</string>
	<key>PROJECT_ID</key>
	<string>innoride-85b4b</string>
	<key>STORAGE_BUCKET</key>
	<string>innoride-85b4b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159266541498:ios:d9b778a8317f37f7eed783</string>
</dict>
</plist>